/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset */

#tags-wrapper {
	font: 15px Helvetica, Arial, sans-serif;
	overflow: hidden;
	position: absolute;
	padding: 0.4em;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

/* tag cloud https://www.nxworld.net/tips/css-tag-cloud.html*/

#tags-wrapper ul.tag_box {
  margin: 0;
  padding: 0;
  list-style: none;
}

#tags-wrapper ul.tag_box li {
  display: inline-block;
  margin: 0 .3em .3em 0;
  padding: 0;
}

#tags-wrapper ul.tag_box li a {
  position: relative;
  display: inline-block;
  max-width: 200px;
  height: 28px;
  line-height: 28px;
  padding: 0 2.5em 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

#tags-wrapper ul.tag_box li span {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 2;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background-color: #3498db;
  border-radius: 100%;
  color: #fff;
  font-size: 12px;
  text-align: center;
  -webkit-transition: .2s;
  transition: .2s;
}

#tags-wrapper ul.tag_box li a:hover {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: #fff;
}

#tags-wrapper ul.tag_box li a:hover span {
  background-color: #fff;
  color: #3498db;
}
