/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End reset */

#tags-wrapper {
	font: 15px Verdana,helvetica,arial,clean,sans-serif;
	overflow: hidden;
	position: absolute;
	padding: 0.4em;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

/* tag cloud */

#tags-wrapper .tag_box {
	*zoom: 1;
	list-style: none;
}

#tags-wrapper .tag_box li {
	display: inline;
	line-height: normal;
	vertical-align: middle;
}

#tags-wrapper .tag_box a {
	color: #2d2d2d;
	text-decoration: none;
	background-color: #99cc99;
	float: left;
	border: 1px solid #448844;
	padding: 3px 6px 3px 6px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#tags-wrapper .tag_box a:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background: #336633;
	border: solid #336633;
}

#tags-wrapper .tag_box a:hover {
	background-color: #77bb77;
	border: 1px solid #336633;
}

#tags-wrapper .tag_box a:visited {
	color: #141414;
	text-decoration: none;
}

#tags-wrapper .tag_box a:hover {
	color: #474747;
	text-decoration: none;
}

#tags-wrapper .tag_box a:hover span {
	background-color: #e1e1e1;
	border: 1px solid #77bb77;
}

#tags-wrapper .tag_box span {
	background-color: #fafafa;
	border: 1px solid #99cc99;
	padding: 1px 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #1a1a1a;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	top: -1px;
	font-weight: bold;
	font-size: 8px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#tags-wrapper .tag_box:before,
#tags-wrapper .tag_box:after { content: ""; display: table; }

#tags-wrapper .tag_box:after { clear: both; }
